*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 2000px;
}
.menu{
    width: 100%;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(10,83,83);
    position: fixed;
    z-index: 10;
}
.menu_logo{
    margin-left: 10%;
    margin-top: 20px;
    font-size:35px ;
    float: left;
    color: white;
    font-weight: 700;
}
.menu_item{
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    float: left;
    width: 40%;

}
.menu_item a{
    color: white;
    text-decoration: none;
    margin-right: 70px;
}
.menu_buttons{
    float: left;
    margin-top: 20px;
    margin-left: 50px;
}
.menu_buttons button{
    border: none;
    padding: 8px 16px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-right: 10px;
}
.menu_buttons button:hover{
    background-color: rgb(10,83,83);
    color: white;
}
.carts{
    width: 300px;
    height: 450px;
    margin-top: 130px;
    margin-left: 225px;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 10px 12px 91px -16px rgb(163, 162, 162);
}
.cart{
    width: 250px;
    height: auto;
    padding: 15px;
    border-radius: 24px;
    box-shadow: 10px 12px 91px -16px rgb(53, 53, 53);
}
.cart_img{
    width: 10px;
    height: 250px;
}
.cart_img img{
    width: 200px;
    height: 200px;
    margin-left: 40px;
    font-size: 60px;
    
}
.cart_content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart_phone{
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: -40px;
}
.opicanie_phone{
    margin-left: 50px;
    font-size: 19px;
}
.cena{
    margin-left: 110px;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(2, 53, 2);
}


.noyt{
    width: 300px;
    height: 450px;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 10px 12px 91px -16px rgb(163, 162, 162);
    margin-top: -450px;
    margin-left: 550px;
}
.cart1{
    width: 250px;
    height: auto;
    padding: 15px;
    border-radius: 24px;
    box-shadow: 10px 12px 91px -16px rgb(53, 53, 53);
}
.noyt_img{
    width: 10px;
    height: 250px;
}
.noyt_img img{
    width: 300px;
    height: 200px;
    margin-right: 50px;
}
.cart_noyt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart_noyt{
    font-size: 13px;
    margin-left: 20px;
    margin-top: -30px;
}
.opicanie_noyt{
    margin-top: 15px;
    font-size: 17px;
    margin-left: 10px;
    color: rgb(70, 70, 70);
}
.cena1{
    margin-left: 90px;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(2, 53, 2);
}



.nayshniki{
    width: 300px;
    height: 450px;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 10px 12px 91px -16px rgb(163, 162, 162);
    margin-top: -450px;
    margin-left: 876px;
}
.cart2{
    width: 250px;
    height: auto;
    padding: 15px;
    border-radius: 24px;
    box-shadow: 10px 12px 91px -16px rgb(53, 53, 53);
}
.nayshniki_img{
    width: 10px;
    height: 250px;
}
.nayshniki_img img{
    width: 300px;
    height: 230px;
    margin-right: 50px;
}
.cart_nay{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cart_nayshiki1{
    font-size: 26px;
    margin-left: 40px;
    margin-top: -50px;
}
.opicanie_nay{
    font-size: 18px;
    margin-top: 15px;
    margin-left: 10px;
    color: rgb(70, 70, 70);
}
.cena2{
    margin-left: 110px;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(2, 53, 2);
}
.raboti{
    font-size: 18px;
    margin-left: 100px;
    color: rgb(70, 70, 70);
    margin-top: -3px;
}
.n{
    font-size: 26px;
    margin-left: 70px;
    margin-top: -9px;
}
